.custome-data-section .customer-data-content .customer-data {
    height: 200px;
    background-color: var(--primary-red-color);
}

.custome-data-section .customer-data-content .customer-directive {
    height: 200px;
    background-color: var(--primary-blue-color);
}